

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
.badge-ios {
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
        margin: 6px;
   
}
.card-background-page .badge-ios-light {
    background-color: #999;
    margin: 7px;
}
ion-badge.notify.badge.badge-ios.badge-ios-default {
    position: absolute;
       top: -9px;
    right: -12px;
}

.badge-ios-light {

    background-color: #424242;
}
ion-card img {
    display: block;
    width: 100%;
    padding: 2px;
}
h1 {
    font-size: 16px;
}
.subheading {
    font-size: 1.1rem;
    text-align: left;
}
ion-icon.iconwithtext.icon.icon-md.ion-md-pin {
    font-size: 12px;
    color: #999;
}
.applyforjob{
        background-color: #2222229e;
}
span.button-inner {
    text-transform: none;
}
}
